<html ng-app="myApp" ng-controller = "LoginController">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">	
        <title>Busy Blocks</title>

        <link rel="icon" type="image/gif" href="../../images/favicon.gif">

        <!-- Angular Material CSS and google fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <!-- Get access to our style sheet -->
        <link rel="stylesheet" type="text/css" href="../../style.css">
        <link rel="stylesheet" media="all" type="text/css" href="../../lib/bower_components/loadingBar/src/loading-bar.css">

        <!-- Get access to the Parse libraries -->
		<script type="text/javascript" src="https://www.parsecdn.com/js/parse-1.1.14.min.js"></script>

        <!-- Get access to the AngularJS and Angular-Animate libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>

        <!-- jquery, moment, and angular have to get included before fullcalendar -->
        <script type="text/javascript" src="../../lib/bower_components/init.js"></script>
        <script type="text/javascript" src="../../lib/bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="../../lib/bower_components/moment/moment.js"></script>
        <script type="text/javascript" src="../../lib/bower_components/angular-ui-calendar/src/calendar.js"></script>
        <script type="text/javascript" src="../../lib/bower_components/fullcalendar/dist/fullcalendar.js"></script>
        <script type="text/javascript" src="../../lib/bower_components/fullcalendar/dist/gcal.js"></script>
        <script type="text/javascript" src="../../lib/bower_components/loadingBar/src/loading-bar.js"></script>

        <!-- Load BootStrap -->
        <script type="text/javascript" src="../../lib/ui-bootstrap-tpls-0.13.0.min.js"></script>

        <!-- Load smooth scrolling function -->
        <script type="text/javascript" src="scroll.js"></script>
    		    
        <!-- Modules -->
        <script src="../app.js"></script>

        <!-- Controllers -->
        <script src="LoginController.js"></script>

        <script>
            Parse.initialize(appID,jsKey);
            var currentUser = Parse.User.current();
            if (currentUser) {
                location.href = "../../index.html";
            }
        </script>
    </head>
    <body style="background:#FCFAF8;">
        <div id="header">
            <span id="busy">BUSY</span>
            <span id="blocks">BLOCKS</span>
        </div>
        <div class="slide" id="main">
            <div name="myForm" id="getInWrapper" class="card">
                <!--
                *   Section: Login / Signup Tabs
                *
                *   Description: Presents the user with two tabs, switching between signup and login forms.
                -->
                <div id="options">
                    <div id="login" onclick="dispTab('login')" style="background:white;">Login</div>
                    <div id="signup" onclick="dispTab('signup')" style="background:#D8D8D8; color:grey">Sign Up</div>
                </div>
                <center><br><br>
                    <!--
                    *   Section: Login Form
                    *
                    *   Description: Presents the user with an input box for both an email and a password.
                    *                Shows a reset password for user's who have forgotten their password.
                    -->
                    <div id="lForm" style="display:block;position:relative;top:20px;">
                        <div id="lTips" class="tips">Please fill in the following fields</div><br>
                        <form novalidate ng-submit="login()">
                            <input id="lEmail" type="email" ng-model="email" ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/" placeholder="Email"><br><br>
                            <input id="lPass" type="password" ng-model="password" placeholder="Password"><br><br>
                            <input type="submit" style="position:absolute;left:-9999px;width:1px;height:1px;"/>
                            <div ng-click="login()" class="bttn" style="margin-top:10px;">Login</div><br>
                            <div ng-click="forgotPassword()" class="forgotBtn">Forgot Password</div>
                        </form>
                    </div>     
                    <!--
                    *   Section: Signup Form
                    *
                    *   Description: Presents the user with an input box for both an email and a password.
                    *                Shows a reset password for user's who have forgotten their password.
                    -->              
                    <div name="sForm "id="sForm" style="display:none;position:relative;top:20px;">
                        <div id="sTips" class="tips">Please fill in the following fields</div><br>
                        <form novalidate ng-submit="signUp()">
                            <input name="sname" id="sName" type="text" ng-model="name" required ng-pattern="/^[a-z']([a-z'_\s])+$/i" placeholder="Name"
                                 ng-style="( name.length == 0 ) ? { 'border-bottom':'1px solid #c6c6c6' } : ( (name) ? { 'border-bottom':'1px solid green' } : { 'border-bottom':'1px solid red' } )"><br><br>
                            <input id="sEmail" type="email" ng-model="email" required ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/" ng-style="( email.length == 0 ) ? { 'border-bottom':'1px solid #c6c6c6' } : ( (email) ? { 'border-bottom':'1px solid green' } : { 'border-bottom':'1px solid red' } )" placeholder="Email"><br><br>
                            <input id="sPass" type="password" ng-model="password" ng-minlength="5" placeholder="Password"
                                 ng-style="( password.length == 0 ) ? { 'border-bottom':'1px solid #c6c6c6' } : ( (password) ? { 'border-bottom':'1px solid green' } : { 'border-bottom':'1px solid red' } )"><br><br>
                            <input id="sPass" type="password" ng-model="repassword" placeholder="Confirm Password"
                                 ng-style="( repassword.length == 0 ) ? { 'border-bottom':'1px solid #c6c6c6' } : ( (repassword == password) ? { 'border-bottom':'1px solid green' } : { 'border-bottom':'1px solid red' } )">
                            <!-- hidden submit button! -->
                            <input type="submit" ng-diables="!email" class="bttn">Sign Up REAL</input>
                            <input type="submit" style="position: absolute;opacity: 0; width: 1px; height: 1px;"/>
                        </form>
                        <div ng-click="signUp()" ng-disabled="!email" class="bttn">Sign Up</div>
                    </div>
                </center>
            </div>
        </div>
        <!--
        *   Section: Footer
        *
        *   Description: Enables the user to scroll down to view additional information.
        -->
        <!--<div id="footer">
            <center>
                <div class="btn btn-success" onclick="smooth_scroll_to(1);" ng-click="scrollUp=!scrollUp;" ng-show="!scrollUp">
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                    Learn more
                </div>
                <div class="btn btn-success" onclick="smooth_scroll_to(0);" ng-click="scrollUp=!scrollUp;" ng-show="scrollUp">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                    Log In/Sign Up
                </div>
            </center>
        </div>-->
    </body>
</html>    
