
body  {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Didact Gothic', sans-serif;
    min-width: 1000px;
    margin-top: 0;
}

#header 
{
    width: 100%;
    height: 64px;
    position: fixed;
/*    border-bottom: solid #888 1px;*/
    z-index: 2;
}

#header p
{
    text-align:center; 
    font-size:30px;
    font-weight: 100; 
    letter-spacing: 3px; 
    position:relative; 
    line-height: 64px;
}

#profileView
{
    position:absolute;
    height:100vh;
/*    border:solid red 1px;*/
    overflow:scroll;
    top:-45px;
}

.singleGroupView
{
    position:absolute;
    height:100vh;
/*    border:solid red 1px;*/
    overflow:scroll;
    top:-45px;
}

#login
{
    border:0;
}

#signup
{
    border:0;
}

input
{
    outline:none;
}

.card
{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,.12);
    color:#272727;
    border-radius:2px;
}

#busy
{
    position:relative;
    left:10px; 
    background-color:#B8FCBC; 
    padding: 4px;
}

#blocks
{
    text-decoration:underline;
}

.forgotBtn
{
    cursor: pointer;
}

#content 
{
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    top: 64px;
    z-index: 1;
   
}

#gallery 
{
    width: 700px;
    height: 400px;
    position: relative;
    display: inline-block;
    margin: auto;
    top: 20%;
    left: 75px;
    bottom: 25%;
    background: white;
    border-radius: 5px;
    z-index:1;
}

#slideText {
    color: #333;
    font-size: 20px;
}

.carousel-control:hover, .selIcons:hover {
    cursor: pointer;
}

.carousel-indicators li {
    border: 1px solid #333;
}

.carousel-indicators .active {
    background: #333;
}

#btnWrapper 
{
    margin: 0 auto;
    position: relative;
    top: 90%;
    height: 20px;
    width: 50px;
    z-index:999;
}

#btnWrapper div 
{
    display: inline-block;
    font-size: 20px;
}

#btnWrapper div:hover 
{
    cursor: pointer;
}


#getInWrapper 
{
    width: 325px;
    border-radius: 0 0 5px 5px;
    background: white;
    position: relative;
    color: #2196F3;
    top: 23%;
    bottom: 30%;
/*    float: right;*/
    height: 340px;
    margin-right: auto;
    margin-left: auto;
}

.active 
{
    background: white;
}

#options div 
{
    width: 50%;
    float: left;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    height: 40px;
/*    border: solid gray 1px;*/
}

#options div:hover 
{
    cursor: pointer;
}

.tips 
{
    position: relative;
    color: white;
/*    border: 2px solid #1B5E20;*/
    background: #4CAF50;
    width: 90%;
    font-weight: 600;
    border-radius:2px;
}

input
{
    line-height: 2em;
    border-radius: 3px;
    font-size: 16px;
    color: #575757;
    border:none;
    border-bottom: 1px solid #c6c6c6;
    width: 90%;
}

.viewBtn
{
/*    border-right:solid black 1px;*/
    letter-spacing: 2px;
    float:left;
    width: 140px;
    height: 100%;
    color: white;
    font-size: 24px;
    line-height: 45px;
    display: table-cell;
    vertical-align: middle;
    transition: width .5s;
    overflow:hidden;
}

.viewBtn:hover 
{
    cursor: pointer;
    background: #4284F5;
    width: 160px;
    transition: width .5s;
    overflow:hidden;
}

.selTab
{
    border-bottom:solid orange 4px;
    background: #4284F5;
    width: 140px;
    overflow: hidden;
}

.bttn 
{
    width: 100%;
    background-color:#3495f3;
    height: 40px;
    color: white;
    font-size: 30px;
    line-height: 40px;
    transition:background .5s;
}

.bttn:hover 
{
    cursor: pointer;
    background: #235Ff6;
    transition:background .5s;
}

#profileWrapper
{
    width: 100%;
    background-color:#F5F5F5;
}


#logoutWrapper 
{
    width: 100%;
    position: fixed;
    height: 45px;
/*    border-bottom: 1px solid black;*/
/*    border-top: 1px solid black;*/
    z-index: 10;
    background: #5B97F5;
}

.friendsOptionsBtn
{
    background-image: url(images/person.png);
    height: 35px;
    width: 35px;
    background-size:contain;
    background-repeat: no-repeat;
    float:right;
    position: relative; 
    cursor: pointer;
    margin-left:15px;
    top:5px;
    transition: height .5s, width .5s;
}

.friendsOptionsBtn:hover
{
    
    transition: height .5s, width .5s;
}

.logoutbtn
{
    background-image: url(images/cog.png);
    height:35px;
    width: 40px;
    background-size:contain;
    background-repeat: no-repeat;
    float:right;
    font-size: 14px;
    text-align: center;
    float: right;
    position: relative; 
    cursor: pointer;
    margin: auto 5px;
    top:5px;
    transform: rotate(0deg);
    transform-origin: 19px 17.5px;
    transition: transform .5s;
}

.logoutbtn:hover
{
    cursor: pointer;
    transform: rotate(180deg);
    transform-origin: 19px 17.5px;
    transition: transform .5s;
}

#greeting
{
    line-height: 45px;
    color:white;
    float:right;
}

#scheduleWrapper
{
    position:relative;
    top:45px;
    height: calc(100% - 45px);
    width:70%;
    float:left;
    margin-left: 2%;
/*    border:solid black 1px;*/
/*    overflow:scroll;*/
    padding-left:5px;
    padding-right:5px;
}

#yourSched
{
    position:relative;
    font-size: 1.5em;
    float:left;
    letter-spacing: 3px;
    top:5px;
}

#groupOptions
{
    position:relative;
    float:right;
    height 20px;
    width 20px;
    border:solid black 1px;
}

.schedule
{
    float:left;
    clear:left;
    width:100%;
    height: auto;
    background:white;
    padding:5px;
    margin-bottom: 10px;
/*    border:solid black 1px;*/
}

#createWrapper
{
    position:relative;
    height: calc(100% - 45px);
    width: 25%;
    float: right;
    margin-right: 2%;
    top:45px;
    padding-left:5px;
    padding-right:5px;
/*    border:solid black 1px;*/
/*    overflow:scroll;*/
}

#createTitle
{
    position:relative;
    font-size: 1.5em;
    float:left;
    letter-spacing: 3px;
    top:5px;
}

.createEvent
{
    float:right;
    clear:right;
    width: 100%;
/*    border:solid black 1.5px;*/
    height:auto;
    padding-top:10px;
    background:white;

}

.repDays label{
    position: relative;
    width: 14.29%;
    margin: 0;
    padding: 6px 5px;
    border-radius: 0;
}

.repDays label:first-child {
    border-radius: 4px 0 0 4px;
}

.repDays label:last-child {
    border-radius: 0 4px 4px 0;
}


.createEvent p,label
{
    font-size: 14px;
    margin-left:10px;
}

#colorBtn {
    transition: background .5s;
}

.createButton
{
    font-size: 30px;
    letter-spacing: 3px;
/*    background:#9EF699;*/
    height:45px;
    text-align: center;
    width: 160px;
    margin-right: auto;
    margin-left: auto;
    transition:width .5s, background .4s;
    margin-bottom: 10px;
    background:#AAFFAA;
    border-radius:5px;
/*    border:solid grey 1px;*/
}

.createButton:hover
{
    cursor:pointer;
    transition:background .4s;
    background:#55EE55;
    border:none;
}

.eventPar
{
    width:auto;
    position:relative;
    margin-left: 10px;
    font-weight: 400;
    font-size:14px;
    border:none;
    border-bottom: solid black 1px;
    border-radius:0px;
    height:35px;
/*    border:none;*/
}

#remEvents
{
    position:relative;
    clear:both;
    padding:5px;
    background-color:#FEC005;
    color:white;
    font-size:20px;
    text-align: center;
    cursor:pointer;
/*    top:20px;*/
}

#remEvents:hover
{
    background-color:orange;
}

.btn2
{
    background: aqua;
    width:10%;
    height:20px;
    cursor: pointer;

}

#groupClick
{
/*    border:solid black 1px;*/
    width:100%;
    height:80%;
    cursor:pointer;
}

#groupClick p
{
    position: relative;
    top:20px;
    height:35px;
    line-height: 35px;
    letter-spacing: 2px;
    overflow: hidden;
}

.groupSelect
{
    position:relative;
/*    border:solid black 1px;*/
    width:150px;
    height: 150px;
    float: left;
    margin-left: 40px;
    /*background: #FDA7B2;*/
    margin-top:40px;
    z-index:0;
}


.groupSelect:hover #minus
{
    opacity: .5;
    transition: opacity .5s;
}

.groupSelect p
{
    text-align: center;
    font-size: 18px;
    color:black;
/*    position:absolute;*/
    width:100%;
    height:auto;
/*    border:solid black 1px;*/
    background:white;
/*    bottom:10px;*/
}

#minus
{
    background-image:url(images/minus.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    position:relative;
    width:50%;
    height:30px;
    float:right;
    cursor:pointer;
    opacity: 0;
    transition: opacity .5s;
    border-left:solid grey 1px;
}

#minus:hover
{
    background-color: #ccc;
    opacity: .8;
}

#pencil
{
    background-image:url(images/pencil.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    position:relative;
    width:50%;
    height:30px;
    float:left;
    cursor:pointer;
    opacity: 0;
    transition: opacity .5s;
}

#pencil:hover
{
    background-color: #ccc;
    opacity: .8;
}

.groupSelect:hover #pencil
{
    opacity: .5;
    transition: opacity .5s;
}

#addGroupBtn
{
    position: relative;
    top: 70px;
    left: 70px;
    float: left;
    height: 85px;
    width: 87px;
    background-image: url('images/addGroup.png');
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: contain;
    opacity:.75;
    transition:opacity .3s;
}

#addGroupBtn:hover {
    cursor: pointer;
    opacity: 1;
    opacity=1;
    transition:opacity .3s;
}

#homeView, .singleGroupView
{
    position: relative;
    top: 45px;
}


#singleGroupWrapper
{
    border:solid black 1px;
    background:#F5F5F5;
    
}

#groupHeader {
    display: inline-block;
    width: 100%;
    height: 50px;
    margin-bottom: 0px;
    margin-top:5px;
}

#groupHeader button {
    display: inline-block;
    position: relative;
    float: right;
    margin-right: 20px;
    top: 8px;
    font-weight: 600;
}

#groupName
{
    display: inline-block;
    position:relative;
    padding-left:2%;
    color: white;
    font-size: 35px;
    letter-spacing: 5px;
    font-weight: 500;
}

#membersInfo
{
    clear:both;
    width:96%;
    margin-left:auto;
    margin-right:auto;
    height:auto;
}

.members
{
    float:left;
    margin: 20px;
    text-align: center;
    height: 80px;
    width: 80px;
}

.memberIcon {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}


.btn-group
{
    position: relative;
    float: right;
}

.btn-group li
{
    cursor:pointer;
}

.btn-group li:hover
{
   background:#BBDEFB;
}

.friend
{
    background: red;
    width: 10%;
    height: 20px;
    cursor: pointer;
}

#groupColorSelect
{
    list-style: none;
}

#groupColorSelect div
{
    border:solid black 1px;
    width:25px;
    height:25px;
    margin-left:15px;
    margin-bottom: 20px;
    float:left;
    cursor:pointer;
}

#groupColorSelect div:hover
{
    border:solid blue 2px;
}

#removeGroupBtn
{
    position:relative;
    transition:height .2s;
    background:white;
    height:20px;
    width:auto;
    z-index: 3;
    top:200px;
    border:solid black 1px;
}

#removeGroupBtn:hover
{
    height:25px;
    transition: height .2s;
}

#addMemberBtn
{
    position: relative;
    top: 45px;
    left: 23px;
    float: left;
    height: 50px;
    width: 50px;
    background-image: url('images/addGroup.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}

#addMemberBtn:hover {
    cursor: pointer;
    opacity: 0.75;
    filter: alpha(opacity=75);
}

#colIcons {
    height: 300px;
    overflow-y: scroll;
    background: white;
}

#icons {
    position: relative;
    height: 100px;
    width: 100px;
    float: left;
    margin: 15px;
    text-align: center;
}

.selIcons {
    width: 80px;
    height: 80px;
}

.smallIcon {
    width: 48px;
}

.selected {
    box-shadow: 0 0 5px rgba(23, 93, 169, 1);
    border: 1px solid rgba(23, 93, 169, 1)
}
