/*
 * FileName: style.css
 * Authors: Michael Cho, Saveen Chadalawada (if you edit this file, add your name to this list)
 * Description: This stylesheet will contain the CSS code for the UI design of BusyBlocks. It is
                Organized into styles that are associated with GENERAL/SHARED STYLES, PERSONAL VIEW STYLES, 
                GROUP VIEW STYLES, & SINGLEGROUP VIEW STYLES.

                This stylesheet works with:
                    -index.html
                    -login.html

    If you are looking for styles associated with the Full Calendar then it will not be located in this file, it will be located in:
        -fullcalendar.css
 */

/*
-------------------------------------------------------------------------------------------------------------------
GENERAL/SHARED STYLES
-------------------------------------------------------------------------------------------------------------------
*/

body  {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Didact Gothic', sans-serif;
    min-width: 1000px;
    margin-top: 0;
}

a
{
    color:black;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: black;
}

#homeView, .singleGroupView
{
    position: relative;
    top: 45px;
}



#loading
{
    width:100vh;
    height:100vh;
    background:#FCFAF8;
}

#header 
{
    width: 100%;
    height: 50px;
    position: fixed;
    border-bottom: solid #888 1px;
    z-index: 2;
    text-align: center;
    background:#FCFAF8;
    opacity: 0.75;
}

#header span
{
    text-align:center; 
    font-size:30px;
    font-weight: 100; 
    letter-spacing: 3px; 
    position:relative; 
    line-height: 45px;
    opacity: 1;
}

.slide {
    height: 100vh;
    max-height: 100vh;
    border-bottom: 1px solid black;
    background: #FCFAF8;
}

#footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    opacity: 0.75;
    position: fixed;
    bottom: 0;
}

input
{
    outline:none;
}

.card
{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,.12);
    color:#272727;
    border-radius:2px;
}

input
{
    line-height: 2em;
    border-radius: 3px;
    font-size: 16px;
    color: #575757;
    border:none;
    border-bottom: 1px solid #c6c6c6;
    width: 90%;
}

.viewBtn
{
/*    border-right:solid black 1px;*/
    letter-spacing: 2px;
    float:left;
    width: 140px;
    height: 100%;
    color: white;
    font-size: 24px;
    line-height: 41px;
    display: table-cell;
    vertical-align: middle;
    transition: width .5s;
    -webkit-transition: width .5s;
    -moz-transition: width .5s;
    -o-transition: width .5s;
    overflow:hidden;
}

.viewBtn:hover 
{
    cursor: pointer;
    background: #4284F5;
    width: 145px;
    transition: width .5s;
    -webkit-transition: width .5s;
    -moz-transition: width .5s;
    -o-transition: width .5s;
    overflow:hidden;
}

.selTab
{
    border-bottom:solid orange 4px;
    background: #4284F5;
    width: 140px;
    overflow: hidden;
}

#profileWrapper
{
    width: 100%;
    background-color:#F5F5F5;
}

#logoutWrapper 
{
    width: 100%;
    position: fixed;
    height: 45px;
/*    border-bottom: 1px solid black;*/
/*    border-top: 1px solid black;*/
    z-index: 10;
    background: #5B97F5;
}

.friendsOptionsBtn
{
    background-image: url(images/person.png);
    height: 35px;
    width: 35px;
    background-size:contain;
    background-repeat: no-repeat;
    float:right;
    position: relative; 
    cursor: pointer;
    margin-left:15px;
    top:5px;
}

.logoutbtn
{
    background-image: url(images/cog.png);
    height:35px;
    width: 40px;
    background-size:contain;
    background-repeat: no-repeat;
    float:right;
    font-size: 14px;
    text-align: center;
    float: right;
    position: relative; 
    cursor: pointer;
    margin: auto 5px;
    top:5px;
    
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    
    
    -webkit-transform-origin: 19px 17.5px;
    -moz-transform-origin: 19px 17.5px;
    -o-transform-origin: 19px 17.5px;
    transform-origin: 19px 17.5px;
    
    
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
}

.logoutbtn:hover
{
    cursor: pointer;
    
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    
   
    -webkit-transform-origin: 19px 17.5px;
    -moz-transform-origin: 19px 17.5px;
    -o-transform-origin: 19px 17.5px;
    transform-origin: 19px 17.5px;
    
    
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
        

}

.dropDown
{
    position: relative;
    float: right;
}

.dropDown li
{
    cursor:pointer;
}

.dropDown li:hover
{
   background:#BBDEFB;
}

.modal-body {
    padding: 0 15px 15px 15px;
}

.modal-body h3 {
    letter-spacing: 3px;
}

.modal-body hr {
    color: black;
    border-color: #000;
}

.lblSuccess {
    box-sizing: border-box;
    color: #3C763D;
    background: #DFF0D8;
    border-color: #D6E9C6;
    padding: 10px;
    margin-bottom: 10px;
}

.lblError {
    box-sizing: border-box;
    color: #A94442;
    background: #F2DEDE;
    border-color: #EBCCD1;
    padding: 10px;
    margin-bottom: 10px;
}

.lblInfo {
    box-sizing: border-box;
    color: #31708F;
    background: #D9EDF7;
    border-color: #BCE8F1;
    padding: 10px;
    margin-bottom: 10px;
}

#greeting
{
    line-height: 45px;
    color:white;
    float:right;
}

#remEvents
{
    position:relative;
    clear:both;
    padding:5px;
    background-color:#FEC005;
    color:white;
    font-size:20px;
    text-align: center;
    cursor:pointer;
/*    border:solid black 1px;*/
    width:100%;
/*    top:20px;*/
}

#remEvents:hover
{
    background-color:orange;
}

/*
------------------------------------------------------------------------------------------------------------
LOGIN PAGE STYLES
------------------------------------------------------------------------------------------------------------
*/

#login
{
    border:0;
}

#signup
{
    border:0;
}

#busy
{
    position:relative;
    left:10px; 
    background-color:#B8FCBC; 
    padding: 4px;
}

#blocks
{
    text-decoration:underline;
}

.forgotBtn
{
    cursor: pointer;
}

#content 
{
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    top: 64px;
    z-index: 1;
}

#gallery 
{
    width: 700px;
    height: 400px;
    position: relative;
    display: inline-block;
    margin: auto;
    top: 20%;
    left: 75px;
    bottom: 25%;
    background: white;
    border-radius: 5px;
    z-index:1;
}

#slideText {
    color: #333;
    font-size: 20px;
}

.carousel-control:hover, .selIcons:hover {
    cursor: pointer;
}

.carousel-indicators li {
    border: 1px solid #333;
}

.carousel-indicators .active {
    background: #333;
}

#btnWrapper 
{
    margin: 0 auto;
    position: relative;
    top: 90%;
    height: 20px;
    width: 50px;
    z-index:999;
}

#btnWrapper div 
{
    display: inline-block;
    font-size: 20px;
}

#btnWrapper div:hover 
{
    cursor: pointer;
}


#getInWrapper 
{
    width: 325px;
    border-radius: 0 0 5px 5px;
    background: white;
    position: relative;
    color: #2196F3;
    top: 23%;
    bottom: 30%;
/*    float: right;*/
    height: 340px;
    margin-right: auto;
    margin-left: auto;
}

.active 
{
    background: white;
}

#options div 
{
    width: 50%;
    float: left;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    height: 40px;
/*    border: solid gray 1px;*/
}

#options div:hover 
{
    cursor: pointer;
}

.tips 
{
    position: relative;
    color: white;
/*    border: 2px solid #1B5E20;*/
    background: #4CAF50;
    width: 90%;
    font-weight: 600;
    border-radius:2px;
}

.bttn 
{
    width: 100%;
    background-color:#3495f3;
    height: 40px;
    color: white;
    font-size: 30px;
    line-height: 40px;
    transition:background .5s;
}

.bttn:hover 
{
    cursor: pointer;
    background: #235Ff6;
    transition:background .5s;
}

/*
---------------------------------------------------------------------------------------------------------------------------------------
PROFILE VIEW STYLES
---------------------------------------------------------------------------------------------------------------------------------------
*/

#profileView
{
    position:absolute;
    height:100vh;
/*    border:solid red 1px;t*/
/*    overflow:scroll;*/
    top:-45px;
}

#scheduleWrapper
{
    position:relative;
    top:45px;
    height: calc(100% - 45px);
/*    height: -webkit-calc(100vh - 45px);       THIS IS FOR VIEWPORT DETECTION IN THE FUTURE*/
    height:auto;
    width:70%;
    float:left;
    margin-left: 2%;
/*    border:solid black 1px;*/
/*    overflow:scroll;*/
    padding-left:5px;
    padding-right:5px;
}

#yourSched
{
    position:relative;
    font-size: 20px;
    float:left;
    letter-spacing: 3px;
    top:5px;
}

.schedule
{
    float:left;
    clear:both;
    width:100%;
/*    height: calc(100% - 45px);*/
    height:auto;
    background:white;
    padding:5px;
    margin-bottom: 10px;
/*    border:solid black 1px;*/
}

#createWrapper
{
    position:relative;
/*    height: calc(100% - 45px);*/
    height:auto;
    width: 25%;
    float: right;
    margin-right: 2%;
    top:45px;
}

#createTitle
{
    position:relative;
    font-size: 20px;
    float:left;
    letter-spacing: 3px;
    top:5px;
}

.createEvent
{
    float:right;
    clear:right;
    width: 100%;
    height: auto;
/*    border:solid black 1.5px;*/
/*    height: auto;*/
    padding-top:10px;
    background:white;
}

.repeatBtn
{
    background:white;
}

/*
----------------------------------------------------------------------------------------------------------------------------------------
GROUPS VIEW
----------------------------------------------------------------------------------------------------------------------------------------
*/

#groupClick
{
/*    border:solid black 1px;*/
    width:100%;
    height:80%;
    cursor:pointer;
}

#groupClick p
{
    position: relative;
    top:20px;
    height:35px;
    line-height: 35px;
    letter-spacing: 2px;
    overflow: hidden;
}

.groupSelect
{
    position:relative;
/*    border:solid black 1px;*/
    width:150px;
    height: 150px;
    float: left;
    margin-left: 40px;
    /*background: #FDA7B2;*/
    margin-top:40px;
    z-index:0;
}


.groupSelect:hover #minus
{
    opacity: .5;
    transition: opacity .5s;
}

.groupSelect p
{
    text-align: center;
    font-size: 18px;
    color:black;
/*    position:absolute;*/
    width:100%;
    height:auto;
/*    border:solid black 1px;*/
    background:white;
/*    bottom:10px;*/
}

#minus
{
    background-image:url(images/minus.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    position:relative;
    width:50%;
    height:30px;
    float:right;
    cursor:pointer;
    opacity: 0;
    transition: opacity .5s;
    border-left:solid grey 1px;
}

#minus:hover
{
    background-color: #ccc;
    opacity: .8;
}

#pencil
{
    background-image:url(images/pencil.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    position:relative;
    width:50%;
    height:30px;
    float:left;
    cursor:pointer;
    opacity: 0;
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
}

#pencil:hover
{
    background-color: #ccc;
    opacity: .8;
}

.groupSelect:hover #pencil
{
    opacity: .5;
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
}

#addGroupBtn
{
    position: relative;
    top: 70px;
    left: 70px;
    float: left;
    height: 85px;
    width: 87px;
    background-image: url('images/addGroup.png');
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: contain;
    opacity:.75;
    transition:opacity .3s;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
}

#addGroupBtn:hover {
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
}

#groupColorSelect
{
    list-style: none;
}

#groupColorSelect div
{
    border:solid black 1px;
    width:25px;
    height:25px;
    margin-left:15px;
    margin-bottom: 20px;
    float:left;
    cursor:pointer;
}

#groupColorSelect div:hover
{
    border:solid blue 2px;
}

/*
----------------------------------------------------------------------------------------------------------------------------------------
SINGLEGROUP VIEW STYLES
----------------------------------------------------------------------------------------------------------------------------------------
*/

.singleGroupView
{
    position:absolute;
    height:calc(100vh - 45px);
    height:-webkit-calc(100vh - 45px);
/*    border:solid red 1px;*/
/*    overflow:scroll;*/
}

#groupOptions
{
    position:relative;
    float:right;
    height: 20px;
    width: 20px;
    border:solid black 1px;
}

.createEvent p,label
{
    font-size: 14px;
    margin-left:10px;
}

.colorFade {
    transition: background .5s;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
}

.createButton
{
    font-size: 30px;
    letter-spacing: 3px;
/*    background:#9EF699;*/
    height:45px;
    text-align: center;
    width: 160px;
    margin-right: auto;
    margin-left: auto;
    transition:width .5s, background .4s;
    -webkit-transition: background .4s;
    -moz-transition: background .4s;
    -o-transition: background .4s;
    margin-bottom: 10px;
    background:#AAFFAA;
    border-radius:5px;
/*    border:solid grey 1px;*/
}

.createButton:hover
{
    cursor:pointer;
    transition:background .4s;
    -webkit-transition: background .4s;
    -moz-transition: background .4s;
    -o-transition: background .4s;
    background:#55EE55;
    border:none;
}

.eventPar
{
    width:auto;
    position:relative;
    margin-left: 10px;
    font-weight: 400;
    font-size:14px;
    border:none;
    border-bottom: solid black 1px;
    border-radius:0px;
    height:35px;
/*    border:none;*/
}

#singleGroupWrapper
{
    border:solid black 1px;
    background:#F5F5F5;
}

#groupHeader {
    display: inline-block;
    width: 100%;
    height: 50px;
    margin-bottom: 0px;
    margin-top:5px;
}

#groupHeader button {
    display: inline-block;
    position: relative;
    float: right;
    margin-right: 20px;
    top: 8px;
    font-weight: 600;
}

#groupName
{
    display: inline-block;
    position:relative;
    padding-left:2%;
    color: white;
    font-size: 35px;
    letter-spacing: 5px;
    font-weight: 500;
}


#membersInfo
{
    clear:both;
    width:96%;
    margin-left:auto;
    margin-right:auto;
    height:auto;
}

.members
{
    float:left;
    margin: 5px;
    text-align: center;
    height: auto;
    width: 82px;
    margin-top:15px;
    cursor: pointer;
    transition: opacity 0.5s;
}

.memberIcon {
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-size: contain;
}

.selMember {
    opacity: 0.5;
    transition: opacity 0.5s;
}

#colIcons {
    height: 300px;
    overflow-y: scroll;
    background: white;
}

#icons {
    position: relative;
    height: 100px;
    width: 100px;
    float: left;
    margin: 15px;
    text-align: center;
}

.selIcons {
    width: 80px;
    height: 80px;
}

.selected {
    box-shadow: 0 0 5px rgba(23, 93, 169, 1);
    border: 1px solid rgba(23, 93, 169, 1)
}

#memberInfoBtn
{
    float:left;
    clear:both;
    background-color:orange;
    border:none;
    height:30px;
    width:100%;
    margin-top:15px;
    letter-spacing: 2px;
    font-size: 16px;
    border-radius: 4px;
    opacity:.75;
    transition:opacity .5s;
}

#memberInfoBtn:hover
{
    background-color:darkorange;
    opacity:1;
    transition:opacity .5s;
}

#memberView
{
    position:relative;
/*    top:20px;*/
    left:2%;
    float: left;
    margin-right: auto;
    margin-left: auto;
    margin-bottom:10px;
    width: 96%;
    background:white;
/*    border:solid black 1px;*/
}

#membersTitle
{
    position:relative;
    font-size: 20px;
    float:left;
    left:2%;
    letter-spacing: 3px;
/*    border:solid black 1px;*/
}

#addMemberBtn
{
    position: relative;
    cursor:pointer;
    float: left;
    top:40px;
    left:40px;
    height: 40px;
    width: 40px;
    background-image: url('images/addGroup.png');
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: contain;
    opacity:.75;
    transition:opacity .3s;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
}

#addMemberBtn:hover
{
    opacity:1;
    transition:opacity .3s;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
}

.addFromFriends:hover
{
    background:#A0DEFB;
}