

body  {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Didact Gothic', sans-serif;
    min-width: 1350px;
    margin-top: 0;
}

#header 
{
    width: 100%;
    height: 64px;
    position: fixed;
    border-bottom: solid #888 1px;
    z-index: 2;
}

#header p
{
    text-align:center; 
    font-size:30px;
    font-weight: 100; 
    letter-spacing: 3px; 
    position:relative; 
    line-height: 64px;
}

.card
{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,.12);
    color:#272727;
    border-radius:2px;
}

#busy
{
    position:relative;
    left:10px; 
    background-color:#B8FCBC; 
    padding: 4px;
}

#blocks
{
    text-decoration:underline;
}

#content 
{
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    top: 64px;
    z-index: 1;
   
}

#gallery 
{
    width: 700px;
    height: 400px;
    position: relative;
    display: inline-block;
    margin: auto;
    top: 20%;
    left: 75px;
    bottom: 25%;
    background: white;
    border-radius: 5px;
    z-index:1;
}

#slideText {
    color: #333;
    font-size: 20px;
}

.carousel-control:hover, .selIcons:hover {
    cursor: pointer;
}

.carousel-indicators li {
    border: 1px solid #333;
}

.carousel-indicators .active {
    background: #333;
}

#btnWrapper 
{
    margin: 0 auto;
    position: relative;
    top: 90%;
    height: 20px;
    width: 50px;
    z-index:999;
}

#btnWrapper div 
{
    display: inline-block;
    font-size: 20px;
}

#btnWrapper div:hover 
{
    cursor: pointer;
}

#getInWrapper 
{
    width: 325px;
    margin: auto;
    border-radius: 0 0 5px 5px;
    background: white;
    position: relative;
    color: #2196F3;
    top: 23%;
    left: 0;
    bottom: 30%;
    right: 0;
    float: right;
    margin-right: 100px;
    height: 340px;
    display: inline-block;
}

.active 
{
    background: white;
}

#options div 
{
    width: 49.3%;
    float: left;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    height: 40px;
    border: solid gray 1px;
}

#options div:hover 
{
    cursor: pointer;
}

.tips 
{
    position: relative;
    color: white;
    border: 2px solid #1B5E20;
    background: #4CAF50;
    width: 90%;
    font-weight: 600;
}

input
{
    line-height: 2em;
    border-radius: 3px;
    font-size: 16px;
    color: #575757;
    border: 1px solid #c6c6c6;
    width: 90%;
}

.viewBtn
{
/*    border-right:solid black 1px;*/
    letter-spacing: 2px;
    float:left;
    width: 135px;
    height: 100%;
    color: white;
    font-size: 24px;
    line-height: 45px;
    display: table-cell;
    vertical-align: middle;
    transition: width .5s;
}

.viewBtn:hover 
{
    cursor: pointer;
    background: #4284F5;
    width: 140px;
    transition: width .5s;
}

.selTab
{
    border-bottom:solid orange 4px;
}

.bttn 
{
    width: 100%;
    background-color:#90caf9;
    height: 40px;
    color: white;
    font-size: 30px;
    line-height: 40px;

}

.bttn:hover 
{
    cursor: pointer;
    background: #2196f3;
    
}

#profileWrapper
{
    width: 100%;
    background-color:#F5F5F5;
}


#logoutWrapper 
{
    width: 100%;
    position: fixed;
    height: 45px;
/*    border-bottom: 1px solid black;*/
/*    border-top: 1px solid black;*/
    z-index: 10;
    margin-top: 0;
    background: #5B97F5;
}

.friendsOptionsBtn
{
    background-image: url(images/person.png);
    height: 45px;
    width: 35px;
    background-size:contain;
    background-repeat: no-repeat;
    float:right;
    position: relative; 
    cursor: pointer;
    margin-left:15px;
    top:5px;
    transition: height .5s, width .5s;
}

.friendsOptionsBtn:hover
{
    height:47px;
    width:37px;
    transition: height .5s, width .5s;
}

.logoutbtn
{	
    background-image: url(images/cog.png);
    height:35px;
    width: 60px;
    background-size:contain;
    background-repeat: no-repeat;
    float:right;
    font-size: 14px;
    text-align: center;
    float: right;
    position: relative; 
    cursor: pointer;
    margin: auto 5px;
    top:5px;
    transform: rotate(0deg);
    transform-origin: 30px 17.5px;
    transition: transform .5s;
}

.logoutbtn:hover
{
    cursor: pointer;
    transform: rotate(180deg);
    transform-origin: 30px 17.5px;
    transition: transform .5s;
}

#greeting
{
    line-height: 45px;
    color:white;
    float:right;
}

#scheduleWrapper
{
    height:auto;
    width:70%;
    float:left;
    margin-left: 2%;
}

#yourSched
{
    position:relative;
    font-size: 1.7em;
    float:left;
    letter-spacing: 3px;
    top:5px;
}

.schedule
{
    float:left;
    clear:left;
    width:100%;
    height: auto;
    background:white;
    padding:5px;
    margin-bottom: 10px;
}

#createWrapper
{
    height: auto;
    width: 25%;
    float: right;
    margin-right: 2%;
    
}

#createTitle
{
    position:relative;
    font-size: 1.7em;
    float:left;
    letter-spacing: 3px;
    top:5px;
}

.createEvent
{
    float:right;
    clear:right;
    width: 100%;
/*    border:solid black 1.5px;*/
    height:auto;
    padding-top:10px;
    background:white;
/*    background: #BEDFFE;*/
/*    border-radius:10px;*/
/*
    background-image: -moz-linear-gradient(top, #3399FF, #99CCFF);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3399FF), to(#99CCFF));
    background-image: -webkit-linear-gradient(top, #3399FF, #99CCFF);
    background-image: -o-linear-gradient(top, #3399FF, #99CCFF);
*/
/*    background-image: linear-gradient(to bottom, #3399FF, #99CCFF);*/
/*    background-repeat: repeat-x;*/
/*    border-color: #99CCFF #99CCFF #bfbfbf;*/
/*    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*/
/*    color: #333;*/
/*    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
/*    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);*/
}


.createEvent p,label
{
    font-size: 16px;
    margin-left:10px;
}

.createButton
{
    font-size: 35px;
    letter-spacing: 3px;
/*    background:#9EF699;*/
    height:60px;
    text-align: center;
    width: 180px;
    margin-right: auto;
    margin-left: auto;
    transition:width .5s, background .4s;
    margin-bottom: 10px;
    background:#AAEFAA;
/*    border:solid grey 1px;*/
}

.createButton:hover
{
    cursor:pointer;
    transition:width .5s, background .4s;
    width: 190px;
    background:#99FF99;
    border:none;
}

.eventPar
{
    width:auto;
    position:relative;
    margin-left: 10px;
    font-weight: 400;
    font-size:16px;
    border:solid black 1px;
    border-radius:0px;
    height:35px;
/*    border:none;*/
}

.btn2
{
    background: aqua;
    width:10%;
    height:20px;
    cursor: pointer;
}

.groupSelect
{
    position:relative;
/*    border:solid black 1px;*/
    width:150px;
    height: 150px;
    float: left;
    margin-right: 30px;
    /*background: #FDA7B2;*/
    cursor:pointer;
    margin-top:20px;
    z-index:0;
}

.groupSelect:hover
{
}

.groupSelect p
{
    text-align: center;
    font-size: 18px;
    color:black;
    position:absolute;
    bottom:0px;
    width:100%;
    height:30%;
    background:white;
}

#addGroupBtn
{
    position: relative;
    top: 45px;
    left: 23px;
    float: left;
    height: 85px;
    width: 87px;
    background-image: url('images/addGroup.png');
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: contain;
}

#addGroupBtn:hover {
    cursor: pointer;
    opacity: 0.75;
    filter: alpha(opacity=75);
}

#homeView, .singleGroupView
{
    position: relative;
    top: 45px;
}


#singleGroupWrapper
{
    border:solid black 1px;
    background:#F5F5F5;
}

#groupName
{
    position:relative;
    padding-left:2%;
    background:#4FC3F7;
    color:white;
    font-size: 35px;
    letter-spacing: 5px;
    font-weight: 500;
    top:5px;
    margin-bottom: 20px;
}

#membersInfo
{
    clear:both;
    width:96%;
    margin-left:auto;
    margin-right:auto;
    height:auto;
}

.members
{
    float:left;
    margin: 20px;
    text-align: center;
    height: 80px;
    width: 80px;
}

.memberIcon {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}


.btn-group
{
    float:right;
    position:relative;
}

.btn-group li
{
    cursor:pointer;
}

.btn-group li:hover
{
   background:#BBDEFB;
}

.friend
{
    background: red;
    width: 10%;
    height: 20px;
    cursor: pointer;
}

#groupColorSelect
{
    list-style: none;
}

#groupColorSelect li
{
    border:solid black 1px;
    width:25px;
    height:25px;
    margin-left:15px;
    float:left;
    cursor:pointer;
}

#removeGroupBtn
{
    position:relative;
    transition:height .2s;
    background:white;
    height:20px;
    width:auto;
    z-index: 3;
    top:200px;
    border:solid black 1px;
}

#removeGroupBtn:hover
{
    height:25px;
    transition: height .2s;
}

#addMemberBtn
{
    position: relative;
    top: 45px;
    left: 23px;
    float: left;
    height: 50px;
    width: 50px;
    background-image: url('images/addGroup.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}

#addMemberBtn:hover {
    cursor: pointer;
    opacity: 0.75;
    filter: alpha(opacity=75);
}

#colIcons {
    height: 300px;
    overflow-y: scroll;
    background: white;
}

#icons {
    position: relative;
    height: 100px;
    width: 100px;
    float: left;
    margin: 15px;
    text-align: center;
}

.selIcons {
    width: 80px;
    height: 80px;
}

.smallIcon {
    width: 48px;
}

.selected {
    box-shadow: 0 0 5px rgba(23, 93, 169, 1);
    border: 1px solid rgba(23, 93, 169, 1)
}